body {
  background-image: url(fortaleza2.webp);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}
#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

#clock {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: chocolate;
  padding-right: 170px;
  margin-bottom: 30px;
  background-color: hsla(0%, 0%, 100%, 0.1);
  width: 100%;
}